@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";

.Sponsors {
  position: relative;
  max-width: 1800px;
  margin: auto;

  &__title {
    @include typography.title-text;
    @include responsiveness.font($responsive: 2.8vw, $min: 24px, $max: 50px);
  }
}