@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";

.Sponsors {
  position: relative;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: calc(8% - 3vw);

  @include responsiveness.respond(tab-land) {
    transform: scale(0.9);
    max-width: 100vw;
  }

  &__logoContainer {
    display: grid;
    align-self: center;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px) fit-content(300px);
    grid-template-rows: 1fr 0.6fr 0.5fr 0.1fr;
    margin: 0 auto;
  }

  &__titleContainer {
    max-width: 20em;
    margin: 0 auto;
    text-align: center;

    @include typography.description;
  }

  &__ruleLine {
    max-width: 30em;
    border: 0;
    border-bottom: calc(2px + 0.25vh) solid white;
  }

  &__title {
    //text-shadow: 2px 2px var(--black);

    @include typography.title-text;
    @include responsiveness.font($responsive: 2.2vw, $min: 18px, $max: 28px);
    line-height: calc(4em - 1.7vh);
  }

  // sponsor logos
  &__cied {
    grid-column-start: 1;
    width: calc(4vw + 3vh);
    height: fit-content;
    margin: 1vw 1vw 1vw 0;
  }

  &__blackstone {
    grid-column-start: 2;
    width: auto;
    margin: auto -8vw 2vh -3vw;
  }

  &__comcast {
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: center;
    width: calc(16vw + 16vh);
    height: fit-content;
    margin: auto 0 2vh 8vw;

    @include responsiveness.respond(phone) {
      width: calc(30vw + 2vh);
    }
  }

  // Second tier
  &__citris {
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
    width: calc(12vw + 10vh);
    height: fit-content;
    margin-top: 1vw;

    @include responsiveness.respond(phone) {
      justify-self: left;
      margin-right: -8vw;
    }
  }

  &__santaCruzWorks {
    grid-row-start: 2;
    grid-column-start: 3;
    width: calc(8vw + 6vh);
    height: fit-content;
    margin-left: 9vw;
  }

  // Third tier
  &__ebay {
    grid-row-start: 3;
    width: calc(8vw + 8vh);
    height: fit-content;
    margin-top: auto;
    margin-left: -3vw;
    margin-bottom: auto;

    @include responsiveness.respond(phone) {
      width: calc(8vw + 5vh);
    }
  }

  &__southSwell {
    grid-row-start: 3;
    width: calc(12.5vw + 8vh);
    height: fit-content;
    justify-self: center;
    margin-right: 1vw;

    @include responsiveness.respond(phone) {
      width: calc(10vw + 6vh);
    }
  }

  &__stratovan {
    grid-row-start: 3;
    grid-column-start: 3;
    width: calc(12.5vw + 12.5vh);
    margin-left: 1vw;
    margin-right: -5vw;

    @include responsiveness.respond(phone) {
      width: calc(10vw + 10vh);
    }
  }

  &__progress {
    grid-row-start: 3;
    grid-column-start: 3;
    width: calc(12.5vw + 12.5vh);
    margin: auto -5vw 0 1vw;

    @include responsiveness.respond(phone) {
      width: calc(10vw + 10vh);
    }
  }

  &__fifteenSeventeen {
    grid-row-start: 3;
    grid-column-start: 4;
    width: calc(8vw + 4vh);
    height: fit-content;
    margin: auto 0 auto 6vw;
  }

  // Fourth tier
  &__earthHacks {
    grid-row-start: 4;
    grid-column-start: 1;
    width: calc(10vw + 4vh);
    margin-left: -3vw;

    @include responsiveness.respond(phone-narrow) {
      width: calc(8vw + 4vh);
      margin-top: -0.75vh;
      margin-left: 0;
    }

    @include responsiveness.respond(smallest) {
      margin-top: -1.25vh;
    }
  }

  &__balsamiq {
    grid-row-start: 4;
    grid-column-start: 1;
    justify-self: right;
    width: calc(6vw + 3vh);
    margin-top: auto;
  }

  &__chooseSC {
    grid-row-start: 4;
    grid-column-start: 2;
    width: calc(4.25vw + 2vh);
    margin-bottom: -1vh;
    margin-left: 1vw;
  }

  &__wolfram {
    grid-row-start: 4;
    grid-column-start: 2;
    width: calc(10vw + 3vh);
    margin: auto 0 auto calc(6.25vw + 2vh);
  }

  &__mlh {
    grid-row-start: 4;
    grid-column-start: 3;
    width: calc(5vw + 3vh);
    margin: auto 0 auto 1vw;
  }

  &__pinnacle {
    grid-row-start: 4;
    grid-column-start: 3;
    width: calc(4vw + 1.32vh);
    margin-bottom: -1vh;
    margin-left: calc(7vw + 3vh);
  }

  &__stickermule {
    grid-row-start: 4;
    grid-column-start: 4;
    width: calc(10vw + 5vh);
    margin-left: -6vw;

    @include responsiveness.respond(phone-narrow) {
      margin-top: -0.75vh;
      margin-left: -8vw;
    }
  }

  &__echoAR {
    grid-row-start: 4;
    grid-column-start: 4;
    width: calc(10vw + 3vh);
    margin: auto 0 1vh -4vw;

    @include responsiveness.respond(phone) {
      width: calc(8vw + 3vh);
      margin-left: -5vw;
      margin-bottom: 0;
    }
  }

  &__cross {
    grid-row-start: 4;
    grid-column-start: 4;
    width: calc(8vw + 4vh);
    margin: auto 0 auto calc(6vw + 5vh);

    @include responsiveness.respond(phone) {
      margin-left: calc(5vw + 5vh);
    }
  }
}
