@use "~stylesheets/typography";
/*
 width: 1350.54px;
height: 776.95px;
*/
.Schedule {
    height: 1000px;
    overflow: auto;
    width: 100%;
    position: relative;
    z-index: -5;
    &__container {
        position: absolute;
        margin: auto;
        left: 25%;
        overflow-x: visible;
        width: 50%;
        min-width: 300px; 
        height: 35%;
        z-index: -4;
    }

    &__whiteRect {
        padding-top: 57.5%;
        width: 100%;
        height: auto;
        position: absolute;
        background: #FDFDEE;
        box-shadow: 0px 0px 20px 11px rgba(89, 93, 130, 0.5);
        border-radius: 5vh;
    }

    &__activeTab {
        @include typography.description;

        background: #FFD9E0;
        border-radius: 5vh;
        height: calc((57.5% /3)*2);
        width: calc(57.5% / 3);
        padding-top: 2%;
        text-align: center;
        color: #F06C84;
        transform: rotate(-90deg);
        min-height: 0.5em;
        
    }
    &__dayOne {
        z-index: -4;
        position: absolute;
        left: -5%;
        top: -4.3%;
        background: #FDFDEE;
        z-index: 0;
    }

    &__dayTwo {
        z-index: -3;
        position: absolute;
        left: -5%;
        top: 28.9%;
    }

    &__dayThree {
        z-index: -3;
        position: absolute;
        left: -5%;
        top: 62%;
    }

    &__dayText {
        @include typography.description;
        position: absolute;
        padding: var(--extra-small-spacer);
        bottom: 40%;
        margin-right: 20px;
        left: calc(-2.3vw + 10px);
        color: #F06C84;
        transform: rotate(-90deg);
    }

    &__title {
        @include typography.title-text;
        font-size: 18px !important;
        position: absolute;
        padding-left: var(--large-spacer);
        z-index: 1;
        margin-bottom: var(--large-spacer);
        top: 0;
        color: #F06C84;

    }

    &__date {
        @include typography.title-text;
        font-size: 18px !important;
        position: absolute;
        padding-left: var(--large-spacer);
        z-index: 1;
        top: 1em;
        color: #1A1542;
    }
    &__whiteRect--variant {
        position: absolute;
        padding-top: 57.5%;
        right: 20%;
        width: 30%;
        background: #FDFDEE;
        border-radius: 0px 5vh 5vh 0px;

    }

    &__pinkRect {
        position: absolute;
        width: 47%;
        padding-top: 57.5%;
        right: 0;
        background: #FFD9E0;
        border-radius: 0px 5vh 5vh 0px;
    }

    &__moon {
        position: absolute;
        left: 0px;
        bottom: 50%;
        width: 20%;
        z-index: -500;
    }
}