@use "~stylesheets/typography";

.Schedule {
    background: var(--black);
    overflow: auto;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -999;

    &__schedule {
        width: 60%;
        padding-top: 5%;
    }
    &__moon {
        position: absolute;
        left: 0px;
        bottom: 50%;
        width: 20%;
        z-index: -500;
    }
}