@use "~stylesheets/typography";
@use "~stylesheets/responsiveness";

.Milestones {
  overflow: auto;
  margin: 0;
  min-height: 500px;
  background: url("~images/components/milestones/background.png") repeat-y, var(--dark-purple);
  background-size: 100% auto;

  &__title {
    @include typography.anaglyph-title-text;

    margin: var(--extra-large-spacer) 0;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: var(--medium-spacer) auto;
  }

  &__box {
    margin: var(--medium-spacer);
    min-width: 200px;
    text-align: center;
  }

  &__boxTop {
    @include typography.anaglyph-title-text;

    margin: 0;
    padding: 30px 40px;
    // the frosted glass effect isn't well supported in CSS so the color is hard-coded to best match the design.
    background: var(--purple-frosted-glass);
    border-radius: 35px 35px 0 0;

    @include responsiveness.respond(tab-port) {
      padding: 20px 30px;
    }
  }

  &__boxBottom {
    @include typography.description;

    margin: 0;
    padding: 10px 20px;
    background: linear-gradient(180deg, var(--light-purple) 0%, var(--light-purple__gradient) 100%);
    box-shadow: 0 0 35px -3px var(--heliotrope);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 35px 35px;
  }
}
