@use "~stylesheets/typography";

.Button {
  transform: translateY(2px);
  transition: opacity 0.4s ease 0.27s, transform 0.2s ease, 0.8s filter ease;
  z-index: 0;

  @include typography.button-text;
  height: calc(25px + 2.5vh);
  max-height: 50px;
  background: var(--wedgewood);
  border-radius: 15px;
  padding: var(--extra-small-spacer) var(--large-spacer);
  border: none;
  cursor: pointer;
  
  &__link {
    text-decoration: none;
    z-index: 1;
  }

  &:hover {
    transform: translateY(-0.05vh);
  }

  &:active {
    transform: translateY(0.2vh);
  }
}
