@use "~stylesheets/typography";

.Button {
<<<<<<< HEAD
  transform: translateY(2px);
  transition: opacity 0.4s ease 0.27s, transform 0.2s ease, 0.8s filter ease;

  &__element {
    @include typography.button-text;
    height: calc(25px + 2.5vh);
=======
  &__element {
    @include typography.button-text;
>>>>>>> production
    background: var(--wedgewood);
    border-radius: 15px;
    padding: var(--extra-small-spacer) var(--large-spacer);
    border: none;
    cursor: pointer;
  }
<<<<<<< HEAD

  &:hover {
    transform: translateY(-0.05vh);
  }

  &:active {
    transform: translateY(0.2vh);
  }
=======
>>>>>>> production
}
