:root {
  --black: #000;
  --white: #fff;
  --wedgewood: #4f728e;
  --grey: #bfbfbf;
  --darkmode: #1a1542;

  /* variations */
  --wedgewood__dark: #{darken(#4f728e, 7%)};

  /* These are for gradient */
  --wedgewood__gradient: #486988;
  --waterleaf: #a9ebdf;

}
