:root {
  --black: #181a1b;
  --white: #fff;
  --wedgewood: #4f728e;
  --light-aqua: #4f9c95;
  --grey: rgb(137, 167, 189);
  --dark-navy: #1a1542;
  --blue: #4366c0;
  --salmon: #F06C84;

  /* variations */
  --wedgewood__dark: #{darken(#4f728e, 7%)};

  /* These are for gradient */
  --wedgewood__gradient: #486988;
  --waterleaf: #a9ebdf;
  --blue__gradient: #344790;

  /* dark mode */
  --wedgewood__night: rgb(46, 67, 87);
  --waterleaf__night: rgb(18, 74, 66);
  --wedgewood__darker: rgb(151, 178, 197);

  /* anaglyph colors */
  --anaglyph-cyan: #0085ff;
  --anaglyph-red: rgba(255, 0, 0, 0.57);
  --highlight-red: #fc3b3b;
  --highlight-blue: #1a49e1;

  /* missions, milestones, and topics section */
  --frosted-glass: rgba(91, 75, 147, 0.67);
  --malibu: #7c9bff;
  --malibu__gradient: #8a9dda;
  --new-blue: rgba(138, 157, 218, 0.6);
  --heliotrope: #a687ff;
}
