@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";

.EmailSubscription {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &__searchBox {
    @include typography.description;
    color: var(--wedgewood);
    font-style: italic;
    border: none;

    border-radius: 50px;
    margin-right: var(--extra-large-spacer);
    padding: var(--small-spacer) var(--large-spacer);

    @include responsiveness.respond(mission) {
      width: unset;
      padding-right: var(--extra-extra-large-spacer);
      margin-right: var(--large-spacer);
    }
  }

  &__inputButton {
    display: flex;
    background: var(--wedgewood);
    border-radius: 50%;
    padding: 8px;
    border: none;
  }

  &__arrow {
    width: 3vw;
    min-width: 14px;
    max-width: 30px;
  }

  &__feedbackContainer {
    margin: var(--medium-spacer) auto;
    width: 350px;
    text-align: center;

    @include responsiveness.respond(mission) {
      width: min(48vw, 300px);
    }
  }

  &__feedbackMessage {
    @include typography.error;
    font-weight: bold;
    margin: 0 auto;

    color: var(--wedgewood-dark);
    opacity: 0.5;
  }
}
