@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";

.EmailSubscription {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__searchBox {
    @include typography.description;
    color: var(--grey);
    font-style: italic;
    border: none;

    border-radius: 50px;
    margin-right: var(--extra-large-spacer);
    padding: var(--small-spacer) var(--large-spacer);
    width: 300px;

    @include responsiveness.respond(mission) {
      width: unset;
      padding-right: var(--extra-extra-large-spacer);
      margin-right: var(--large-spacer);
    }
  }

  &__inputButton {
    background: var(--wedgewood);
    border-radius: 50%;
    padding: var(--small-spacer);
    border: none;
  }

  &__arrow {
    width: 3vw;
    max-width: 30px;
  }

  &__feedbackMessage {
    @include typography.description;
    color: var(--wedgewood);
    width: 400px;
    margin-top: var(--extra-small-spacer);

    @include responsiveness.respond(tab-land) {
      width: 325px;
    }
  }
}
