@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";

.EmailSubscription {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  &__searchBox {
    @include typography.description;
    @include responsiveness.font($responsive: 2.3vw, $min: 12px, $max: 16px);
    color: var(--grey);
    background-color: var(--black);
    font-style: italic;

    border: none;
    width: 80%;
    height: calc(10px + 2vh);

    border-radius: 50px;
    margin-right: var(--extra-large-spacer);
    padding: var(--small-spacer) var(--large-spacer);
  }

  &__inputButton {
    display: flex;
    background: var(--wedgewood);
    border-radius: 50%;
    padding: 8px;
    height: calc(20px + 2.5vh);
    cursor: pointer;
    border: none;
  }

  &__arrow {
    width: 3vw;
    min-width: 14px;
    max-width: 30px;
  }

  &__feedbackContainer {
    display: flex;
    align-items: center;
    margin: var(--medium-spacer) 0;

    @include responsiveness.respond(mission) {
      width: min(48vw, 300px);
    }
  }

  &__icon {
    margin-right: var(--small-spacer);
  }

  &__feedbackMessage {
    @include typography.error;
    font-weight: bold;
    color: var(--waterleaf);

    opacity: 0.77;
  }
}
