@use "~stylesheets/typography";
@use "~stylesheets/responsiveness";

.HeroView {
  display: flex;
  overflow: hidden;
  min-height: 100%;

  &__homeView {
    background-color: initial;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    max-width: 1800px;
    flex-grow: 4;
    margin-top: 10vh;

    @include responsiveness.respond(mission) {
      max-width: unset;
    }

    @include responsiveness.respond(tab-port) {
      flex-wrap: wrap;
      align-content: center;
    }

    @include responsiveness.respond(phone) {
      margin: 1em;
      margin-top: 10vh;
    }
  }

  &__visual {
    // postcard styling
    max-width: 1000px;
    min-width: 475px;
    margin: auto;

    @include responsiveness.respond(desktop) {
      max-width: calc(50vw + 100px);
    }

    @include responsiveness.respond(tab-port) {
      max-width: calc(50vw + 10vh);
    }

    @include responsiveness.respond(phone-narrow) {
      min-width: calc(60vw + 15vh);
    }

    @include responsiveness.respond(smallest) {
      min-width: 300px;
    }
  }

  &__textContainer {
    margin: 2em var(--medium-spacer);

    @include responsiveness.respond(tab-port) {
      margin: 2em auto;
    }
  }

  &__titleText {
    @include typography.title-text;

    &--secondary {
      @extend .HeroView__titleText;
      color: var(--wedgewood__darker);
    }
  }

  &__description {
    max-width: 425px;
    margin: 2em 0;

    @include typography.description;

    @include responsiveness.respond(tab-land) {
      margin: 1.1em 0;
    }
  }
}
