.HeroView {
  height: 100%;
}

.HeroView__homeView {
  background: linear-gradient(180deg, var(--wedgewood__gradient) 0%, var(--waterleaf) 100%);
  height: 90%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
}
