@use "~stylesheets/typography";
@use "~stylesheets/responsiveness";

.Hero {
  display: flex;
  overflow: hidden;
  min-height: 100%;

  &__container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    max-width: 1800px;
    padding-top: calc(65px + 10vh);
    flex-grow: 4;

    @include responsiveness.respond(mission) {
      max-width: unset;
    }

    @include responsiveness.respond(tab-port) {
      flex-wrap: wrap;
      align-content: center;
      padding-top: calc(2.5px + 2.5vh);
    }
  }

  &__visual {
    // postcard styling
    max-width: 1000px;
    min-width: 455px;
    margin: auto;

    @include responsiveness.respond(desktop) {
      max-width: calc(50vw + 10px);
    }

    @include responsiveness.respond(tab-port) {
      max-width: calc(50vw + 10vh);
    }

    @include responsiveness.respond(phone-narrow) {
      min-width: calc(70vw + 8vh);
    }
  }

  &__textContainer {
    margin: 2em auto;
    width: 55%;
    align-items: center;

    @include responsiveness.respond(phone-narrow) {
      width: 85%;
    }
  }

  &__titleText {
    @include typography.title-text;
    white-space: nowrap;

    &--secondary {
      @extend .Hero__titleText;
      color: var(--wedgewood__darker);
    }
  }

  &__description {
    max-width: 25em;
    margin: 2em 0;

    @include typography.description;

    @include responsiveness.respond(tab-land) {
      margin: 1.1em 0;
    }

    @include responsiveness.respond(tab-port) {
      margin: 1.1em auto;
    }
  }
}
