@use "~stylesheets/responsiveness";

.PostcardStack {
  display: inline-block;
  margin: 0 auto;
  padding: 0 var(--medium-spacer) 0 0;

  @include responsiveness.respond(tab-port) {
    padding: 0;
  }

  &__postcard {
    width: 100%;

    @include responsiveness.respond(tab-port) {
      padding-top: var(--small-spacer);
      width: calc(100% - 4vw);
      max-height: 45vh;
      min-height: 200px;
    }
  }
}
