@use "~stylesheets/typography";
@use "~stylesheets/variables";

.Mission {
  display: flex;
  flex-direction: column;
  background: url("~images/mission-background.png");
  background-size: 100%;
  padding: 5% 10%;

  &__section {
    &:first-child {
      display: flex;
      margin-bottom: var(--extra-extra-large-spacer);
    }
  }

  &__title {
    @include typography.title-body;
    padding: var(--medium-spacer) var(--extra-extra-large-spacer);

    background: rgba(196, 219, 255, 0.57);
    mix-blend-mode: hard-light;
    backdrop-filter: blur(4px);
    border-radius: 58px 58px 0 0;
  }

  &__body {
    display: flex;
    padding: var(--medium-spacer) var(--large-spacer) var(--medium-spacer) var(--extra-extra-large-spacer);

    // Variable names and styling to be resolved after other pull requests.
    background: linear-gradient(180deg, #7c9bff 0%, rgba(138, 157, 218, 0.6) 100%);
    box-shadow: 0 0 22px -3px #a687ff;
    border-radius: 0 0 63px 63px;
  }

  &__rectangle {
    width: 5px;
    flex-shrink: 0;
    margin-right: var(--medium-spacer);

    background: var(--dark-navy);
    border-radius: 155px;
  }

  &__highlight {
    width: 75px;
    flex-shrink: 0;
    margin: 0 -65px 0 -10px;

    // Variable names and styling to be resolved after other pull requests.
    background: linear-gradient(180deg, #fc3b3b 0%, #1a49e1 100%);
    box-shadow: 0 0 22px -3px #a687ff;
    border-radius: 59px;
  }

  &__text {
    @include typography.description-dark;
    line-height: 105%;
  }
}
