@use "~stylesheets/responsiveness";
@use "~stylesheets/typography";
@use "~stylesheets/variables";

.Mission {
  /* Text Layer */
  &--text {
    display: flex;
    flex-direction: column;
    background: url("~images/mission-background.png");
    background-size: 100%;
    padding: 10% 22%;
  }

  &__section {
    z-index: 2;

    &:first-of-type {
      display: flex;
      margin-bottom: 10%;
    }
  }

  &__title {
    @include typography.title-body;
    padding: var(--medium-spacer) var(--extra-extra-large-spacer);

    background: rgba(196, 219, 255, 0.57);
    mix-blend-mode: hard-light;
    backdrop-filter: blur(4px);
    border-radius: 58px 58px 0 0;
  }

  &__body {
    display: flex;
    padding: var(--medium-spacer) var(--large-spacer) var(--medium-spacer) var(--extra-extra-large-spacer);

    // Variable names and styling to be resolved after other pull requests.
    background: linear-gradient(180deg, #7c9bff 0%, rgba(138, 157, 218, 0.6) 100%);
    box-shadow: 0 0 22px -3px #a687ff;
    border-radius: 0 0 63px 63px;
  }

  &__rectangle {
    width: 5px;
    flex-shrink: 0;
    margin-right: var(--medium-spacer);

    background: var(--dark-navy);
    border-radius: 155px;
  }

  &__highlight {
    width: 75px;
    flex-shrink: 0;
    margin: 0 -65px 0 -10px;

    // Variable names and styling to be resolved after other pull requests.
    background: linear-gradient(180deg, #fc3b3b 0%, #1a49e1 100%);
    box-shadow: 0 0 22px -3px #a687ff;
    border-radius: 59px;
  }

  &__text {
    @include typography.description-dark;
    line-height: 105%;
  }

  /* Image Layer */
  &--images {
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__can {
    width: 20%;
  }

  &__can--right {
    width: 20%;
    align-self: flex-end;
    margin-top: -23%;

    @include responsiveness.respond(desktop) {
      margin-top: -19%;
    }

    @include responsiveness.respond(mission) {
      margin-top: -13%;
    }

    @include responsiveness.respond(tab-land) {
      margin-top: -6%;
    }

    @include responsiveness.respond(tab-port) {
      margin-top: 4%;
    }

    @include responsiveness.respond(phone) {
      margin-top: 20%;
    }
  }

  &__flower {
    width: 35%;
    margin-top: -25%;
  }
}
