@use "~components/Button/Button";

.Homepage {
  height: fit-content;

  &__buttonContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  &__button {
    @extend .Button;
    margin-right: 2vw;
    margin-bottom: var(--medium-spacer);
  }
}
