.Homepage {
  height: 100%;

  &__buttonContainer {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-right: var(--large-spacer);
    margin-bottom: var(--medium-spacer);
    width: 250px;
  }
}
